* {
    box-sizing: border-box;
  }
  
  body {
    width: 2200p;
    height: 1500px;
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    line-height: 1.5;
  }
  
  :root {
    --header:  rgb(114, 109, 109);
    --head1:  rgb(118, 205, 205)  ;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 0;
  }
  /* added colors and created head background */
 .head   {
    margin-top: 0;
    padding: 50px;  
    padding-top: 10px; 
    padding-bottom: 65px; 
    background-color: rgb(114, 109, 109);
  
 }
   .nav{
        float: right;
        margin-right: 80px;}

        .head nav ul li{
            
        }
    .head nav ul { 
       list-style-type: none;
   }
   .head nav ul li {
    /* changed nav bar to be displaced as inline-block */
   display: inline-block;
   margin-left: 25px;
}
h1 { 
    /* fiexed h1 to the top-left */
    color: var( --header);
   float: left;
   padding: 10px 10px 2px 100px;
   background-color: rgb(118, 205, 205);
   margin-left: -80px;
   border-radius: 5px;
}

.head nav ul  a{
    color: var( --head1);}
    .hero-banner {
        /* banner under the header and with cool subtitle*/
        display: flex;
        height: 150px;
        background-image: url(/MyProfile/images/1892752.jpg);
     background-size: cover;
  background-position: center;
  justify-content: flex-end;
  align-items: flex-end;
    }
    .subt { 
        /* h2 proprieties element */
        margin-bottom: 15px;
        margin-right: 50px;
        color:rgb(225, 220, 220);
        text-shadow: 2px 2px 1px rgb(38, 27, 27);
     }
     /* grid area where are located other containers with their own grid areas */
     .page-wrapper {
        height: 900px;
        display: grid;
        grid-template-columns: 20% 70%;
        grid-template-rows: 25% 65% 10%;
        grid-template-areas: "about about "
    " work work"
    " contact contact";
    gap: ;
     }
     #about {
        grid-area: about;
     }
     #work {
         grid-area: work;
     }
     .page-section#about p  {
        font-size: 0.8em;
        line-height: 1.3em;
        
     }
     #contact {
        grid-area: contact;
     }
     #aboutme {
        grid-area: aboutme;
     }

     /* about me section and it's grid area */
#about {
    display: grid;
    grid-template-columns: repeat(8,1fr);
    grid-template-rows: repeat(3,1fr);

}
#aboutme {
    grid-column:1/2 ;
    grid-row: 1/2;
    text-align: right;
}
/* my image added */
.page-section#about img{
    width: 200px;
    height: 220px;
    border-radius: 100px;
}
/* paragrapsh to arrange */
#par {
    grid-column: 2/8;
    grid-row: 1/3;
    text-align: initial;
}
     /* work section and images  */
     #work {
        display: grid;
        grid-template-columns: repeat(8,1fr);
        grid-template-rows:repeat(8,fr);
        column-gap: 5px;
     }
     #wor {
        border-right: solid grey;
        grid-column: 1/1;
        grid-row: 1/8;
        margin-top: 50px;
        text-align: right;
        padding-right: 10px;
    
       
     }
     #w1 {
        background-image: url(/MyProfile/images/istockphoto-1304912525-2048x2048.jpg);
        grid-column: 2/8;
        grid-row: 1/3;
        color: red;
     }
     #w2 {
        grid-column: 2/5;
        grid-row: 3/6;
        background-image: url(/MyProfile/images/1892752.jpg);
        color: red;
    }
    #w3 {
color: red;
        grid-column:5/8 ;
        grid-row: 3/6;
        background-image: url(/MyProfile/images/istockphoto-1304912525-2048x2048.jpg);
    }
    #w4 {
        color: red;
        background-image: url(/MyProfile/images/1892752.jpg);
        grid-column:2/8  ;
        grid-row:6/8 ;
    }

    