* {
    box-sizing: border-box;
  }
  
  body {
    
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    line-height: 1.5;
  }
  
  :root {
    --header:  rgb(114, 109, 109);
    --head1:  rgb(118, 205, 205)  ;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 0;
  }
  /* added colors and created head background */
 .head   {
    margin-top: 0;
    padding: 50px;  
    padding-top: 10px; 
    padding-bottom: 65px; 
    background-color: rgb(114, 109, 109);
  
 }
   .nav{
        float: right;
        margin-right: 80px;}

        .head nav ul li{
            
        }
    .head nav ul { 
       list-style-type: none;
   }
   .head nav ul li {
    /* changed nav bar to be displaced as inline-block */
   display: inline-block;
   margin-left: 25px;
}
h1 { 
    /* fiexed h1 to the top-left */
    color: var( --header);
   float: left;
   padding: 10px 10px 2px 100px;
   background-color: rgb(118, 205, 205);
   margin-left: -80px;
   border-radius: 5px;
}

.head nav ul  a{
    color: var( --head1);}
    .hero-banner {
        /* banner under the header and with cool subtitle*/
        display: flex;
        height: 150px;
        background-image: url(/MyProfile/images/1892752.jpg);
     background-size: cover;
  background-position: center;
  justify-content: flex-end;
  align-items: flex-end;
    }
    .subt { 
        /* h2 proprieties element */
        margin-bottom: 15px;
        margin-right: 50px;
        color:rgb(225, 220, 220);
        text-shadow: 2px 2px 1px rgb(38, 27, 27);
     }